<p>Была сделана новая заявка на регистрацию  в Кабинете Оптовика.</p>
<p>Данные партнера:<br />
Имя: {{user.username}}<br />
E-mail: {{user.email}}<br />
Компания, город: {{user.company}}<br />
Юр. название Компании: {{user.companyYur}}<br />
Фактический адрес: {{user.address}}<br />
ИНН: {{user.inn}}<br />
Сфера деятельности: {{user.scope}}<br />
Кол-во магазинов: {{user.shop}}<br />
Телефон: {{user.telephone}}<br />
Cообщение: {{user.message}}
</p>
